<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cv.css">
</head>
<body>
    <div class="container">
        <header>
            <img  class="my-image" src="../static/images/Shamim.jpg" alt="No Images">
            <div class="myself">
                <h1>Shamim Sarker</h1>
                <h3>Jr. Software Engineer</h3>
            </div>
            <div class="my-contact">
                <a href="#">Email: sarker.shamim1998@gmail.com</a>
                <a href="https://www.linkedin.com/in/10shamimsarker01/">Linkedin: Shamim Sarker</a>
                <a href="https://codeforces.com/profile/shamim7999">Codeforces: shamim7999</a>
                <a href="https://github.com/shamim7999">Github: shamim7999</a>
            </div>
        </header>
        <div class="div-clearer"></div>
        <hr>
        <main>
            <section>
                <div class="content">
                    <div class="left-content">
                        <h1>Personal Information</h1>
                    </div>
                    <div class="right-content">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                        </p>
                    </div>
                </div>
            </section>
            <div class="div-clearer"></div>
            <hr class="common-hr">
            <section>
                <div class="content">
                    <div class="left-content">
                        <h1>Work Experience</h1>
                    </div>
                    <div class="right-content">
                        <div class="right-info">
                            <h2>Dynamic Solution Innovators Ltd.</h2>
                            <h3>Jr. Software Engineer</h3>
                            <h3> December 3rd, 2023 - Present</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                        <div class="right-info">
                            <h2>Dynamic Solution Innovators Ltd.</h2>
                            <h3>Jr. Software Engineer</h3>
                            <h3> December 3rd, 2023 - Present</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="div-clearer"></div>
            <hr class="common-hr">
            <section>
                <div class="content">
                    <div class="left-content">
                        <h1>Key Skills</h1>
                    </div>
                    <div class="right-content">
                        <div class="right-info">
                            <h2>Problem Solving and Others</h2>
                            <h3>Jr. Software Engineer</h3>
                            <h3> December 3rd, 2023 - Present</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                        <div class="right-info">
                            <h2>Dynamic Solution Innovators Ltd.</h2>
                            <h3>Jr. Software Engineer</h3>
                            <h3> December 3rd, 2023 - Present</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="div-clearer"></div>
            <hr class="common-hr">
            <section>
                <div class="content">
                    <div class="left-content">
                        <h1>Education</h1>
                    </div>
                    <div class="right-content">
                        <div class="left-template-info">
                            <h2>Jagannath University</h2>
                            <h3>Bsc in Computer Science & Engneering</h3>
                            <h3> January 2018 - January 2023</h3>
                            <h3> CGPA - 3.32 </h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                        <div class="right-template-info">
                            <h2>Bangladesh Ideal College</h2>
                            <h3>HSC(Science) </h3>
                            <h3> April 2015, January 2017</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore architecto veritatis recusandae voluptatibus ab consequuntur placeat, necessitatibus quam commodi excepturi suscipit fugiat mollitia alias fugit dolorum numquam blanditiis reprehenderit unde vero doloremque veniam? Perspiciatis saepe maiores fugit vitae, commodi nobis quae? Similique iusto molestias beatae suscipit nihil quidem cumque atque totam sit nisi, nemo autem? Repellat amet perspiciatis voluptatem recusandae sunt aliquid voluptates quos odit natus iste reiciendis asperiores magni tempora doloribus, iure ea, tempore repudiandae possimus veritatis quam magnam atque sequi facere! Repellendus nostrum nam omnis quod ratione deleniti excepturi, numquam animi nobis odio et, fuga quibusdam a sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="div-clearer"></div>
            <hr class="common-hr">
        </main>
        
        <footer>
            <div class="footer-container">
                <a href="https://www.facebook.com/shamim7999">Facebook</a>
                <a href="https://github.com/shamim7999">Github</a>
                <a href="https://www.linkedin.com/in/10shamimsarker01/">Linkedin</a>
            </div>
        </footer>
    </div>
</body>
</html>